.dash_main{

display: flex;
}

.dash_con{
    background-color: #F5F6FA;
    height: 100vh;
    overflow-x: hidden;
}
.chart_cont{
    width:900px;
    height:auto;
     margin:auto;
     display:block;
     background-color: white;
     padding: 1rem;
     border-radius: 8px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

