.dash_main{

display: flex;
}

.dash_con{
    background-color: #F5F6FA;
    height: 100vh;
    overflow-x: hidden;
}
.chart_cont{

     margin:auto;
     display:block;
     background-color: white;
     padding: 1rem;
     border-radius: 8px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dash_stats{
    width: 230px;
    height: 161px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    padding: 0.3rem 1.1rem;

}
.stats_icon{

    padding: 0.3rem;
    border-radius: 18px;
    background: aliceblue;

}