.sidebar{
    min-width: 240px;
    height: 100vh;
}

.sidebar_main_cont{
    margin-top: 24px;
    margin-bottom: 48px;
}

.sidebar_groups{
    justify-content: start;
    padding-left: 40px;
    height: 50PX;
    align-items: center;
    margin: 0 24px;
    border-radius: 6px;
}
.sidebar_groups P{
    margin-left: 16PX;
}

.sidebar_heading_text{
    text-align: start;
    margin-left: 26px;
    font-size: 14px;
    margin: 16px 0px 16px 29px;
}