.dash_section_one{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.stoc_main{
    height:100vh;
    max-width:95%;
    margin: auto;
}

.stocks_table{
    border-radius: 6px;
    background-color: white;
    margin-top: 30px;
}

.stock_table_image{
    border-radius: 6px;

}

.color_circle{
width: 1.25rem;
  height: 1.25rem;
    border-radius: 50px;
    margin-left: 16px;
}
.color_circle:first-child{
    margin-left: 0px;
}

.editIcon{
border: 1px solid #D5D5D5;
border-bottom-left-radius:8px ;
border-top-left-radius: 8px;
width: 2.625rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
background-color: #FAFBFD;

}
.DeleitIcon{
    border: 1px solid #D5D5D5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 2.625rem;
    border-left: 0px;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
background-color: #FAFBFD;


}

.stock_section_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}

.stock_table_Tr, .stock_table_thread_TD{
    font-size: 14px;
}
