.dash_section_one{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.stoc_main{
    height:100vh;
    max-width:95%;
    margin: auto;
}

.stocks_table{
    border-radius: 12px;
    background-color: white;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.stock_table_image{
    border-radius: 6px;

}

.color_circle{
width: 1rem;
  height: 1rem;
    border-radius: 50px;
    margin-left: 16px;
}
.color_circle:first-child{
    margin-left: 0px;
}

.editIcon{
border: 1px solid #D5D5D5;
border-bottom-left-radius:8px ;
border-top-left-radius: 8px;
width: 2.625rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
background-color: #FAFBFD;

}
.DeleitIcon{
    border: 1px solid #D5D5D5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 2.625rem;
    border-left: 0px;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
background-color: #FAFBFD;


}


.stock_section_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}

.stock_table_Tr, .stock_table_thread_TD{
    font-size: 14px;
}

.modal_content{

    width: 100vw;
    height: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    backdrop-filter: blur(1px);
     
    

}

.modal{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
width: 50%;
margin: auto;
background-color: rgb(148, 188, 235);
}

.modal input{
margin-bottom: 0.5rem;
}

.modal div:first-child img{
    width: 50%;
    border-radius: 8px;

}
.modal div:first-child p{
    text-align: start;
}

.modal div:nth-child(2) button{
    padding:0.5rem 1rem;
    margin: 1rem;

}

.dash_stats_lable{
font-size: 16px;
font-weight: 600;
}